body{
	background-color: #F8F4ED;
	font-family: "helvetica";
	width: 92%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
}


.box{
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

.main{
	width: 100%;
	overflow: auto;
}

.artical-container{
	margin-top: 1%;
	width: 100%;
}

.artical-cover{
	margin-bottom: 4%;
	width: 100%;
}

.artical-cover img{
	width: 100%;
	border-radius: 8px;
}

.artical-title{
	font-size: 28px;
	color: #4c4c4c;
	margin-bottom: 2%;
}

.artical-subtitle{
	font-size: 1em;
	color: #999999;
	margin-bottom: 8%;
}

.artical-date{
	font-size: 1em;
	color: #b2b2b2;
	float: right;
	margin-right: 4%;
	margin-top: 10%;
	margin-bottom: 12%;
}

.artical-words{
	width: 98%;
}

.artical-words p{
	margin: 0 0 24px 0;
	font-size: 1em;
	color: #5f5f5f;
	letter-spacing: 0.04em;
	line-height: 1.5em;
}

.artical-words img{
	margin-top: 5px;
	width: 100%;
	margin-bottom: 4px;
}

.artical-words p a{
	text-decoration: none;
	font-size: 16px;
	display: inline;
	margin-top: 0px;
	color:#0D95D0;
}

.artical-words p a:hover{
	color: #0479AD;
	text-decoration: underline;
}

.pic-number{
	font-size: 14px;
	color: #9d9d9d;
	margin-bottom: 20px;
}

.btn-back{
	height: 100%;
	width: 100%;
	background-image: url("../images/icon_back.png");
	background-color: #bdbdbd;
	background-repeat: no-repeat;
	background-position: 42% 47%;
	border: none;
	border-radius: 100%;
	opacity: 0.7;
}

.btn-back:hover{
	background-color: #b2b2b2;
}

.artical-container a{
	margin-top: 13%;
	display: block;
	height: 42px;
	width: 42px;
}












