body{
	background-color: #F8F4ED;
	font-family: "helvetica";
}

.box{
	width: 720px;
	margin-right: auto;
	margin-left: auto;
}

.banner{
	padding-left: 22px;
	width: 400px;
	overflow: auto;
}

.menu{
	width: 90px;
	overflow: auto;
	float: left;
}

.menu ul{
	margin-top: 0px;
	margin-bottom: 0px;
	list-style: none;
	padding-left: 0px;
	text-align: right;
	color: #777777;

}

.menu a{
	text-decoration: none;
	color: #989898;
}

.menu li{
	margin-bottom: 5px;
}

.menu ul{
	padding-top: 20px;
}

.menu-selected-item{
	font-weight: bold;
	color: #666666;
	border-width: 0 0 0 3px;
	border-color: #999999;
	border-style: solid;
}

.main{
	width: 600px;
	margin-left: 120px;
	overflow: auto;
}

.designer-draft-list{
	width: 600px;
	overflow: auto;
}

.designer-draft-list-item{
	width: 600px;
	overflow: auto;
	padding-bottom: 20px;
	padding-top: 20px;
	border-width: 0 0 1px 0;
	border-color: #E8E6E3;
}

.designer-draft-cover{
	width: 100px;
	height: 100px;
	float: right;
	overflow: auto;
}

.designer-draft-cover img{
	width: 100px;
}

.designer-draft-brief{
	width: 490px;
}

.designer-draft-title{
	width: 490px;
	margin-bottom: 7px;
}

.designer-draft-title a{
	font-size: 20px;
	color: #808080;
	font-weight: bold;
	text-decoration: none;
}

.designer-draft-professional{
	width: 490px;
	font-size: 13px;
	color: #888888;
	margin-bottom: 4px;
}

.designer-draft-subtitle{
	width: 480px;
	font-size: 15px;
	font-family: "STSong","STHeiti","PingFang";
	letter-spacing: 0.3px;
	line-height: 1.2;
	color: #777777;
	margin-bottom: 4px;
}

.designer-draft-date{
	font-size: 14px;
	color: #b2b2b2;
}





