.main_container{
	background-color: #4c4c4c;
	width: 720px;
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
}

.banner{
	background-color: #808080;
	width: 100%;
	padding: 10px;
}

.banner_container{
	background-color: #b2b2b2;
	height: 130px;
	width: 100%;
}

.main_content{
	background-color: #808080;
	width: 100%;
	padding: 10px;
}

.content_container{
	background-color: #b2b2b2;
	height: 300px;
	width: 100%;
}

.footer{
	background-color: #808080;
	width: 100%;
	padding: 10px;
}

.footer_container{
	background-color: #b2b2b2;
	height: 40px;
	width: 100%;
}