body{
	width: 97.2%;
	background-color: #F8F4ED;
	font-family: "helvetica";
	margin-left: 1%;
	margin-right: 1%;
}

.box{
	width: 100%;
}

.banner{
	width: 160px;
}

.banner img{
	width: 167px;
}

.menu{
	width: 100%;
	margin-bottom: 5%;
}

.menu ul{
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
	list-style: none;
	padding-left: 2%;
	text-align: left;
	overflow: auto;
}

.menu li{
	float: left;
	margin-right: 5%;
}

.menu a{
	text-decoration: none;
	color: #989898;
}

.menu-selected-item{
	font-weight: bold;
	color: #666666;
	border-width: 0 0 2px 0;
	border-color: #999999;
	border-style: solid;
}

.main{
	width: 96%;
	overflow: auto;
	padding-left: 2%;
	padding-right: 2%;
}

.designer-draft-list{
	width: 100%;
	overflow: auto;
}

.designer-draft-list-item{
	width: 100%;
	overflow: auto;
	padding-bottom: 20px;
	padding-top: 20px;
	border-width: 0 0 1px 0;
	border-color: #E8E6E3;
	border-style: solid;
}

.designer-draft-cover{
	width: 80px;
	height: 80px;
	float: right;
	overflow: auto;
}

.designer-draft-cover a{
	display: block;
}

.designer-draft-cover img{
	height: 80px;
	width: 80px;
}

.designer-draft-brief{
	width: 100%;
}

.designer-draft-title a{
	font-size: 20px;
	color: #808080;
	font-weight: bold;
	text-decoration: none;
}

.designer-draft-professional{
	font-size: 15px;
	color: #888888;
	margin-bottom: 6px;
}

.designer-draft-subtitle{
	font-size: 16px;
	font-family: "STSong","STHeiti","PingFang";
	color: #777777;
	margin-bottom: 4px;
}

.designer-draft-date{
	font-size: 14px;
	color: #b2b2b2;
}




















