<html>
	<head>
		<meta lang="en">
		<meta charset="utf-8">
		<!-- <meta name="viewport" content="width=device-width, initail-scale=1, maximum-scale=1" user-scalable="no"> -->
		<script src="js/main.js"></script>
		<script type="text/javascript">
			stopScale();
			stylePicker();
		</script>
	</head>
	<body>
		<div class="box">
			<div class="banner">
				<a href="">test
					<img src="images/img_logo.png">
				</a>
			</div>
			<div class="menu">
				<ul>
					<li class="menu-selected-item"><a href="">Letters</a></li>
					<li><a href="">Pixels</a></li>
					<li><a href="index_work.html">me</a></li>
				</ul>
			</div>
			<!-- here comes the list of great designers -->
			<div class="main">
				<div class="designer-draft-list">
					<!-- the draft block_01 -->
					<div class="designer-draft-list-item">
						<div class="designer-draft-cover">
							<a href="">
								<img src="draft/draft_01/cover_draft_01.png"></a>
						</div>
						<div class="designer-draft-brief">
							<div class="designer-draft-title">
								<a href="content_artical.html">音乐与绘画</a>
							</div>
							<div class="designer-draft-professional">
								闲谈
							</div>
							<div class="designer-draft-subtitle">
								音乐，像是另一个纬度的绘画，或者用三体里的语言来说音乐像是更高纬度，而且抽象化的绘画。在音乐里...
							</div>
							<div class="designer-draft-date">1th Jan 2015</div>
						</div>
					</div>
					<!-- the draft block_02 -->
					<div class="designer-draft-list-item">
						<div class="designer-draft-cover">
							<a href="">
								<img src="draft/draft_01/cover_draft_01.png"></a>
						</div>
						<div class="designer-draft-brief">
							<div class="designer-draft-title">
								<a href="">Mike Mattas</a>
							</div>
							<div class="designer-draft-professional">
								UI Designer
							</div>
							<div class="designer-draft-subtitle">
								它是我最喜欢的设计师。世界上有很多设计师比他出名，但只有他，仿佛能给人一种力量。一种通过设计来让世界更好的信念... 
							</div>
							<div class="designer-draft-date">1th Jan 2015</div>
						</div>
					</div>
					<!-- end of the artical blocks -->
				</div>
			</div>
		</div>
	</body>
</html>