<html>
	<head>
		<meta lang="en">
		<meta charset="utf-8">
		<script src="../js/secret_code.js">
		</script>
		<link rel="stylesheet" type="text/css" href="../css/zhihu_search.css">
	<body>
		<div class = "mainContainer">
			<div class = "inputBoxTitle">zhihu_search</div>
			<div class = "inputBox-container">
				<input class = "inputBox" type = "text" id = "inputBox1">
			</div>
			<a href="https://www.zhihu.com/search?type=content&q=%E6%88%91">lalala_click me!</a>
		</div>
	</body>
	</head>
</html>
